* {
    font-family: 'Roboto', sans-serif;
}

html {
    margin: 0;
    border: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
}

header {
    background-color: #14628f;
    width: 100vw;
    padding: 1rem 1.5rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.headerLogo {
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    margin-right: 0.7rem;
    border-radius: 0.5rem;
}

.headerTitle {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 2rem;
    vertical-align: middle;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0.4rem 1.5rem;
    background-color: #eeeeee;
    color: #272727;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.footerLink {
    color: #383838;
    cursor: pointer;
    font-weight: bold;
}

.footerLink:hover {
    color: #14628f;
}

main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}

.bodyInput {
    border: none;
    width: 15rem;
    border-radius: 0.5rem;
    background-color: #eeeeee;
    padding: 0.7rem;
    font-size: 0.9rem;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.bodyInput:hover {
    background-color: #e6e6e6;
    transition: 0.2s ease-in-out;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.bodyInput:focus {
    outline: none;
    background-color: #dfdfdf;
    transition: 0.2s ease-in-out;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.lookupButton {
    border-radius: 0.5rem;
    background-color: #14628f;
    color: white;
    padding: 0.7rem;
    margin-left: 0.3rem;
    display: inline-block;
    font-size: 0.9rem;
}

.lookupButton:hover {
    cursor: pointer;
    background-color: #10537a;
    transition: 0.2s ease-in-out;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.individualResult {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-top: 1.5rem;
}

.attribution {
    display: block;
    margin-top: 2rem;
}

.lookupButton.red {
    background-color: #ff0000;
}

.lookupButton.red:hover {
    background-color: #e40000;
}

.loadingIcon {
    height: 3rem;
    line-height: 3rem;
    vertical-align: middle;
}

.loadingInfo {
    line-height: 3rem;
    vertical-align: middle;
    margin-left: 1rem;
    font-weight: bold;
}

.material-icons.errorIcon {
    line-height: 3rem;
    vertical-align: middle;
}
